@using MojoPin.Frontend.Helpers
@using Umbraco.Web.Models
@using Mojopin.Frontend.Services
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "HeaderAndFooter.cshtml";
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var title = Model.Content.GetPropertyValue("contentTitle");
    var subtitle = Model.Content.GetPropertyValue<string>("contentSubtitle");
    var titleColor = Model.Content.GetPropertyValue("contentTitleColor");
    var media = Umbraco.TypedMedia(Model.Content.GetPropertyValue<int>("contentHeaderImage")).Url;

    var searchService = new SearchService();
    var items = searchService.FeedSearch(1, 5);
}
<header class="intro-header" style="background-image: url('@media'); background-color: #@Model.Content.GetPropertyValue("contentHeaderColor")">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 class="title" style="color: @titleColor">
                        @title
                        <span style="font: 100 20px/0.8 'Great Vibes', Helvetica, sans-serif; color: @titleColor">
                            by Filipa Galrão
                        </span>
                    </h1>
                    @if (!string.IsNullOrEmpty(subtitle))
                    {
                        <hr class="small newfont" style="color: @titleColor">
                    }
                    <span class="subheading">@Html.Raw(subtitle)</span>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</header>

@if (!MobileHelper.IsMobileDevice(Request.UserAgent))
{
    @*<div style="width: 15%; float: right; margin-left: 20px; margin-right: 10px; position: fixed; padding-top: 35px;z-index: -1">
        <div class="fb-page" data-href="https://www.facebook.com/filipagalrao" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/filipagalrao"><a href="https://www.facebook.com/filipagalrao">loading...</a></blockquote></div></div>
    </div>*@
}

<div class="container" style="padding-bottom: 50px">

    @Html.Partial("Highlights", 
    Model.Content.GetPropertyValue<string>("highlightArticles").Split(',').ToList().Select(p=>umbracoHelper.TypedContent(p)).ToList())
    <div class="row">

        <div class="col-md-10 col-md-offset-1">
   
        <img src="~/Sources/separator.png" style="width:100%"/>
        </div>
    </div>
    @Html.Partial("ArticleList", items)

    @Html.Partial("InstagramFeed")
</div>
